Repository askjag07/divakar.fitness: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Whatever. Welcome back, postcss.
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Bye @loadable/components?
  .vscode/extensions.json
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Let's get 100%!
  .prettierignore
  .prettierrc
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/images/i.png
  src/images/m.png
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global/_all.scss
  src/styles/global/generic.scss
  src/styles/global/variables.scss
  src/styles/pages/index/_all.scss
  src/styles/pages/index/animations.scss
Due: eslint --fix, prettier --write

Reduced JavaScript bundle size?
  src/components/layout.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
Due: eslint --fix

Resolved React dependency error.
  src/components/layout.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
Due: eslint --fix

Optimized font loading and dependencies.
  font-preload-cache.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/styles/global/_all.scss
  src/styles/global/animations.scss
  src/styles/global/generic.scss
  static/big-shoulders-stencil-display-latin-900-normal.woff
  static/big-shoulders-stencil-display-latin-900-normal.woff2
Due: eslint --fix, prettier --write

Updated responsiveness on about page.
  src/pages/about.tsx
Due: eslint --fix

Is this allowed?
  package-lock.json
  package.json
Due: prettier --write

Never mind, again...
  font-preload-cache.json
  gatsby-config.js
  package-lock.json
  package.json
  static/big-shoulders-stencil-display-latin-900-normal.woff
Due: eslint --fix, prettier --write

Updated meta tags at head of page.
  src/components/layout.tsx
Due: eslint --fix

Updated main hero section.
  src/pages/404.tsx
Due: eslint --fix

Updated main hero section.
  src/pages/about.tsx
Due: eslint --fix

Updated main hero section.
  src/pages/index.tsx
Due: eslint --fix

Improved content layout.
  gatsby-browser.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
Due: eslint --fix, prettier --write

Removed unnecessary icons.
  src/components/layout.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global/generic.scss
  src/styles/global/responsive.scss
Due: eslint --fix, prettier --write

The domain is ready!
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/styles/pages/index/animations.scss
Due: eslint --fix, prettier --write

Updated SEO data and main url.
  src/components/layout.tsx
  src/pages/about.tsx
  static/c.png
Due: eslint --fix

Updated basic user interface bugs.
  src/components/layout.tsx
  src/pages/index.tsx
Due: eslint --fix

Updated general theme, description, and slogan.
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global/generic.scss
  src/styles/global/variables.scss
  static/i.png
Due: eslint --fix, prettier --write

Updated title text.
  src/components/layout.tsx
Due: eslint --fix

Updated manifest theme colors.
  gatsby-config.js
Due: eslint --fix

Updated manifest to black theme.
  gatsby-config.js
Due: eslint --fix

Fixed manifest theme/ background color error.
  gatsby-config.js
Due: eslint --fix

Updated basic UX bugs.
  package-lock.json
  package.json
  src/components/layout.tsx
  src/styles/global/generic.scss
Due: eslint --fix, prettier --write

Updated content and UX.
  src/components/layout.tsx
  src/pages/testimonials.tsx
  src/styles/global/variables.scss
Due: eslint --fix, prettier --write

Removed redundant event listeners.
  src/components/layout.tsx
Due: eslint --fix

Updated dependencies.
  package-lock.json
  package.json
Due: prettier --write

Improved anchor link accessiblility.
  src/components/layout.tsx
  src/pages/index.tsx
Due: eslint --fix

Updated testimonial layout.
  src/pages/testimonials.tsx
Due: eslint --fix

Updated dependencies and SEO strategy.
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
Due: eslint --fix, prettier --write

Updated deps.
  package-lock.json
  package.json
Due: prettier --write

Updated dev configuration. Made client's changes.
  .DS_Store
  .editorconfig
  .eslintrc
  .eslintrc.js
  .lintstagedrc
  .prettierrc.js
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global/generic.scss
  static/.DS_Store
  static/i.png
  tsconfig.json
Due: eslint --fix, prettier --write

Fixed image bug?
  src/components/layout.tsx
Due: eslint --fix

Changed default placeholder image.
  gatsby-config.js
Due: eslint --fix

Delete .DS_Store
  .DS_Store
Due: none

Update .gitignore
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: any of: *.{json,yml,md,mdx,scss,sass,html,css}
