Repository askjag07/divakar.fitness: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx,js,jsx}": "eslint --fix",
  "*.{json,yml,md,mdx,scss,sass,html,css}": "prettier --write"
}

Created and modified basic hero and theme.
  .DS_Store
  README.md
  package-lock.json
  package.json
  src/pages/index.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Upgraded hero, theme, and functionality.
  .DS_Store
  .editorconfig
  .eslintrc
  .gitignore
  .lintstagedrc
  .prettierrc
  .vscode/extensions.json
  .vscode/settings.json
  font-preload-cache.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/images/icon.png
  src/pages/404.tsx
  src/pages/index.tsx
  src/styles/global.scss
  tsconfig.json
Due: eslint --fix, prettier --write

Added testimonial links and pictures.
  .DS_Store
  .vscode/extensions.json
  font-preload-cache.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/.DS_Store
  src/components/layout.tsx
  src/images/.DS_Store
  src/images/1.png
  src/images/2.png
  src/images/3.png
  src/images/4.png
  src/images/5.png
  src/images/6.png
  src/images/7.png
  src/images/icon.png
  src/pages/index.tsx
  src/styles/global.scss
  src/styles/index.scss
Due: eslint --fix, prettier --write

Finished carousel and plugin optimizations.
  .browserslistrc
  gatsby-config.js
  package-lock.json
  package.json
  src/images/icon.png
  src/pages/index.tsx
  src/styles/global.scss
  src/styles/index.scss
Due: eslint --fix, prettier --write

Finished index page.
  .DS_Store
  src/components/layout.tsx
  src/pages/index.tsx
  src/styles/index.scss
  static/svg.svg
Due: eslint --fix, prettier --write

Finished basic website.
  .DS_Store
  font-preload-cache.json
  gatsby-config.js
  package-lock.json
  package.json
  src/.DS_Store
  src/components/layout.tsx
  src/images/.DS_Store
  src/images/b.png
  src/images/g.png
  src/images/i.png
  src/images/m.png
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global.scss
  src/styles/index.scss
  static/svg.svg
Due: eslint --fix, prettier --write

Solved some annoying errors.
  gatsby-config.js
  package-lock.json
  package.json
  src/styles/index.scss
Due: eslint --fix, prettier --write

Possible fixed production error.
  gatsby-config.js
Due: eslint --fix

Updated dependencies to finally fix error.
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Updated dependencies.
  package-lock.json
  package.json
Due: prettier --write

Made page responsive.
  src/components/layout.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Fixed vertical responsive design.
  src/components/layout.tsx
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global.scss
Due: eslint --fix, prettier --write

Improved scalablility and responsiveness.
  .vscode/extensions.json
  font-preload-cache.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/.editorconfig
  src/components/layout.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global/_all.scss
  src/styles/global/animations.scss
  src/styles/global/generic.scss
  src/styles/global/responsive.scss
  src/styles/global/variables.scss
  src/styles/index.scss
  src/styles/pages/index/_all.scss
  src/styles/pages/index/animations.scss
  static/svg.svg
Due: eslint --fix, prettier --write

SEO optimization and bug fixes.
  .DS_Store
  .browserslistrc
  .editorconfig
  .gitignore
  font-preload-cache.json
  gatsby-config.js
  package-lock.json
  package.json
  src/.DS_Store
  src/.editorconfig
  src/components/layout.tsx
  src/images/.DS_Store
  src/images/b.png
  src/images/g.png
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global/_all.scss
  src/styles/global/animations.scss
  src/styles/global/generic.scss
  src/styles/global/responsive.scss
  src/styles/pages/index/animations.scss
  static/i.png
  static/m.png
Due: eslint --fix, prettier --write

The end of development is here!!!
  .vscode/settings.json
  font-preload-cache.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
Due: eslint --fix, prettier --write

Fixed some pesky errors.
  gatsby-config.js
  src/styles/global/generic.scss
Due: eslint --fix, prettier --write

Updated dependencies and styles.
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/styles/global/generic.scss
Due: eslint --fix, prettier --write

Updated styles.
  src/pages/testimonials.tsx
Due: eslint --fix

Updated cache configuration.
  gatsby-config.js
Due: eslint --fix

Updated manifest configuration.
  gatsby-config.js
Due: eslint --fix

Updated page headers for SEO.
  gatsby-config.js
Due: eslint --fix

Updated site configuration for tuning.
  gatsby-config.js
Due: eslint --fix

Updated font caching configuration.
  gatsby-config.js
Due: eslint --fix

Updated dependencies and SEO optimization.
  package-lock.json
  package.json
  src/components/layout.tsx
Due: eslint --fix, prettier --write

Updated server header configuration.
  gatsby-config.js
Due: eslint --fix

Attempted to improve page performance.
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Updated header configuration.
  gatsby-config.js
Due: eslint --fix

Possibly? Fixed caching issue.
  gatsby-config.js
Due: eslint --fix

Possibly fixed caching issues. Again.
  gatsby-config.js
Due: eslint --fix

This is it. I hope this works.
  gatsby-config.js
Due: eslint --fix

I wonder what happens...
  gatsby-config.js
Due: eslint --fix

Last try?
  gatsby-config.js
Due: eslint --fix

I hope this works.
  gatsby-config.js
Due: eslint --fix

The end. (Probably)
  gatsby-config.js
Due: eslint --fix

And that's the end of the show.
  gatsby-config.js
Due: eslint --fix

Finally.
  gatsby-config.js
Due: eslint --fix

Made a few security and mobile view optimizations.
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
Due: eslint --fix, prettier --write

Fixed some very annoying bugs.
  font-preload-cache.json
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/images/c.png
  src/pages/404.tsx
  src/pages/about.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global/_all.scss
  src/styles/global/generic.scss
  src/styles/global/responsive.scss
  src/styles/global/variables.scss
  src/styles/pages/index/_all.scss
  src/styles/pages/index/animations.scss
Due: eslint --fix, prettier --write

Scrapping postcss works?
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/components/layout.tsx
  src/pages/404.tsx
  src/pages/index.tsx
  src/pages/testimonials.tsx
  src/styles/global/_all.scss
  src/styles/global/generic.scss
  src/styles/global/variables.scss
  src/styles/pages/index/_all.scss
Due: eslint --fix, prettier --write
